header
	.header.container
		.logo Applerepairss
		nav
			.nav_item Сервисный центр
			.nav_item О нас
			.nav_item Контакты
		a.tel(href="tel:+") 097 123 45 67
section.section-hero.container-fluid
	.blackout
		.container
			h1.text-center Выездной ремонт<br>техники Apple
			h3.text-center Починим ваш аппарат за 19 минут у вас на глазах<br> и дадим гарантию 189 дней
			.btn Заказать
//- section.container
//- 	h2.text-center Прайс на ремонт
//- 	.dropdown-toggle
//- 		.dropdown-menu
//- 			.dropdown-item
//- 			.dropdown-item
//- 			.dropdown-item
//- 			.dropdown-item
//- 			.dropdown-item

section.container
	h2.text-center Почему мы?
	.cart_wrap
		.cart
			h4.text-center Мобильность
			p.text-center Не нужно ехать к нам, мы приедем к Вам!
		.cart
			h4.text-center Профессионализм
			p.text-center В нашей компании работают только профессионалы своего дела с многолетним опытом.
		.cart
			h4.text-center Гарантия
			p.text-center Мы используем оригинальные запчасти Apple и даем гарантию на нашу работу и запчасти 189 дней.


section.container
	h2.text-center Выездной ремонт техники Apple
	.input_wrap
		.input_wrap_item
			input(placeholder="Имя").value_input.input_name1
		.input_wrap_item
			input(placeholder="Номер").value_input.input_number1
		.btn.send1(onclick="send1()") Заказать

section.popout.blackout
	.popout_window
		input(placeholder="Имя").value_input.input_name1
		br
		input(placeholder="Номер").value_input.input_number1
		br
		.connect_me_wrap(onclick="connect = 'Позвонить'; togle(this)")
			.check
			.connect_me Позвонить
		.connect_me_wrap(onclick="connect = 'Viber'; togle(this)")
			.check
			.connect_me Написать у Viber
		.connect_me_wrap(onclick="connect = 'WhatsApp'; togle(this)")
			.check
			.connect_me Написать у WhatsApp
		.btn.send2(onclick="send2()") Заказать

script(src="script.js")
