

header.blackout_header
	.header.container
		a(href="index.php").logo Applerepairss
		nav
			a(href="index.php").nav_item Сервисный центр
			a(href="about.php").nav_item О нас
			a(href="contacts.php").nav_item Контакты
		a.tel(href="tel:+79168586386") +7(916)858-63-86



section.section-hero.container-fluid.page1(style="margin-bottom: -35px;")
	.video-bg
		video(autoplay="autoplay" muted="muted" loop="loop" poster="img/apple_prezent.jpeg" preload="metadata")
			source(src="https://preterit-strikes.000webhostapp.com/img/prezent2.mp4" type="video/mp4")
	.blackout
		.container
			h1.text-center Выездной ремонт<br>техники Apple
			h3.text-center Починим ваш аппарат за 19 минут у вас на глазах<br> и дадим гарантию 189 дней
			.btn(onclick="popout_see()") Заказать


section.bg_white
	.container.priceList
		h2.text-center Прайс на ремонт
		h3.text-center iPhone
		.apple_carts_wrap
			a(href="iPhone11ProMax.php").apple_carts
				img(src="img/iPhone11ProMax.jpg", alt="iphone11_pro").apple_carts_img
				.apple_carts_name 11 Pro Max
			a(href="iPhone11Pro.php").apple_carts
				img(src="img/iPhone11Pro.jpg", alt="iphone11_pro").apple_carts_img
				.apple_carts_name 11 Pro
			a(href="iPhone11.php").apple_carts
				img(src="img/iPhone11.jpg", alt="iphone11_pro").apple_carts_img
				.apple_carts_name 11
			a(href="iPhoneXsMax.php").apple_carts
				img(src="img/iPhoneXs.jpg", alt="iphone11_pro").apple_carts_img
				.apple_carts_name Xs Max
			a(href="iPhoneXs.php").apple_carts
				img(src="img/iPhoneXs.jpg", alt="iphone").apple_carts_img
				.apple_carts_name Xs
			a(href="iPhoneXr.php").apple_carts
				img(src="img/iPhoneXr.jpg", alt="iphone").apple_carts_img
				.apple_carts_name Xr
			a(href="iPhoneX.php").apple_carts
				img(src="img/iPhoneX.jpg", alt="iphone").apple_carts_img
				.apple_carts_name X
			a(href="iPhone8Plus.php").apple_carts
				img(src="img/iPhone8Plus.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 8 Plus
			a(href="iPhone8.php").apple_carts
				img(src="img/iPhone8.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 8
			a(href="iPhone7Plus.php").apple_carts
				img(src="img/iPhone7Plus.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 7 Plus
			a(href="iPhone7.php").apple_carts
				img(src="img/iPhone7.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 7
			a(href="iPhone6SPlus.php").apple_carts
				img(src="img/iPhone6SPlus.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 6S Plus
			a(href="iPhone6S.php").apple_carts
				img(src="img/iPhone6S.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 6S
			a(href="iPhone6Plus.php").apple_carts
				img(src="img/iPhone6.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 6 Plus
			a(href="iPhone6.php").apple_carts
				img(src="img/iPhone6.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 6
			a(href="iPhoneSE.php").apple_carts
				img(src="img/iPhoneSE.jpg", alt="iphone").apple_carts_img
				.apple_carts_name SE
			a(href="iPhone5S.php").apple_carts
				img(src="img/iPhoneSE.jpg", alt="iphone").apple_carts_img
				.apple_carts_name 5S
			.apple_carts
			.apple_carts
			.apple_carts
			.apple_carts
		h3.text-center iPad
		.apple_carts_wrap
			a(href="iPadPro12_9.php").apple_carts
				img(src="img/iPadPro12_9.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Pro 12.9
			a(href="iPadPro11.php").apple_carts
				img(src="img/iPadPro11.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Pro 11.0
			a(href="iPadPro10_5.php").apple_carts
				img(src="img/iPadPro10_5.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Pro 10.5
			a(href="iPadPro9_7.php").apple_carts
				img(src="img/iPadPro9_7.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Pro 9.7
			a(href="iPadAir2.php").apple_carts
				img(src="img/iPadAir2.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Air 2
			a(href="iPadAir.php").apple_carts
				img(src="img/iPadAir.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Air
			a(href="iPad.php").apple_carts
				img(src="img/iPad.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name iPad
			a(href="iPadMini.php").apple_carts
				img(src="img/iPadMini.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Mini
			a(href="iPad6.php").apple_carts
				img(src="img/iPad6.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name 6
			a(href="iPad5.php").apple_carts
				img(src="img/iPad5.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name 5
			a(href="iPadMini4.php").apple_carts
				img(src="img/iPadMini4.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Mini 4
			a(href="iPadMini3.php").apple_carts
				img(src="img/iPadMini3.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Mini 3
			a(href="iPadMini2.php").apple_carts
				img(src="img/iPadMini2.jpg", alt="ipad_pro").apple_carts_img
				.apple_carts_name Mini 2
			.apple_carts
			.apple_carts
			.apple_carts
			.apple_carts
		h3.text-center Watch
		.apple_carts_wrap
			a(href="WatchEdition38.php").apple_carts
				img(src="img/WatchEdition38.jpg", alt="WatchSeries5").apple_carts_img
				.apple_carts_name Watch Edition 38mm
			a(href="WatchSport.php").apple_carts
				img(src="img/WatchSport.jpg", alt="WatchSeries5").apple_carts_img
				.apple_carts_name Watch Sport
			a(href="Watch42.php").apple_carts
				img(src="img/Watch42.jpg", alt="WatchSeries5").apple_carts_img
				.apple_carts_name Watch 42mm
			a(href="Watch38.php").apple_carts
				img(src="img/Watch38.jpg", alt="WatchSeries5").apple_carts_img
				.apple_carts_name Watch 38mm
			.apple_carts
			.apple_carts
			.apple_carts
			.apple_carts


section.bg_eee
	.container.page1
		h2.text-center Почему мы?
		.cart_wrap
			.cart
				h4.text-center Мобильность
				p.text-center Не нужно ехать к нам, мы приедем к Вам!
			.cart
				h4.text-center Профессионализм
				p.text-center В нашей компании работают только профессионалы своего дела с многолетним опытом.
			.cart
				h4.text-center Гарантия
				p.text-center Мы используем оригинальные запчасти Apple и даем гарантию на нашу работу и запчасти 189 дней.


section.bg_eee(style="padding: 40px 0;margin: -35px 0;")
	.container.page1
		h2.text-center Выездной ремонт техники Apple
		.input_wrap
			.input_wrap_item
				input(placeholder="Имя").value_input.input_name1
			.input_wrap_item
				input(placeholder="Номер").value_input.input_number1
			.btn.send1(onclick="send1()") Заказать
		.consent Нажимая на кнопку, вы даете 
			a(href="consent.php") согласие на обработку персональных данных.

//- section.popout.blackout(onclick="popout_close()" style="display: none;")
//- 	.popout_window(onclick="popout_see()")
//- 		.popout_window_close(onclick="popout_close()") X
//- 		h4.text-center Выездной ремонт техники Apple
//- 		input(placeholder="Имя").value_input.input_name2
//- 		br
//- 		input(placeholder="Номер").value_input.input_number2
//- 		br
//- 		.connect_me_wrap(onclick="connect = 'Позвонить'; togle(this)")
//- 			.check(style='background-image: url("img/check.svg")'
//- 			)
//- 				.border
//- 			.connect_me Позвонить
//- 		.connect_me_wrap(onclick="connect = 'Viber'; togle(this)")
//- 			.check
//- 				.border
//- 			.connect_me Написать в Viber
//- 		.connect_me_wrap(onclick="connect = 'WhatsApp'; togle(this)")
//- 			.check
//- 				.border
//- 			.connect_me Написать в WhatsApp
//- 		.btn.send2(onclick="send2()") Заказать
//- 		.consent Нажимая на кнопку, вы даете 
//- 			a(href="consent.php") согласие на обработку персональных данных.


section.bg_eee
	.container.comments.page1
		h2.text-center Отзывы клиентов
		.cart_wrap
			.owl-carousel.owl-theme
				div
					.cart.comment
						.cart_text Разбила экран на своем телефоне. Звонок и через 15 минут мастер уже ремонтировал мой телефон в ресторане. Лучший сервис и подход к своей работе.
						.cart_bottom_wrap
							.cart_bottom_img(style="background-image: url('img/avatar.jpg')")
							.cart_bottom_name Яна Шишкова
				div
					.cart.comment
						.cart_text Разбил экран на своем iPhone 7. Оставил заявку на сайте, договорились о встрече. Заменили дисплей за 10 минут. За ремонтом теперь только в Applerepairss.
						.cart_bottom_wrap
							.cart_bottom_img(style="background-image: url('img/avatar2.jpg')")
							.cart_bottom_name Артем Алексеев
				div
					.cart.comment
						.cart_text Разбился телефон в самый неподходящий момент. Времени ехать в сервис не было. Ребята из Applerepairss приехали оперативно и заменили дисплей прямо на месте. Большое спасибо за такой сервис.
						.cart_bottom_wrap
							.cart_bottom_img(style="background-image: url('img/avatar3.jpg')")
							.cart_bottom_name Виктория Зайцева

section.bg_eee(style="padding: 30px 0 80px 0;margin: -35px 0;")
	.container.page1
		h2.text-center Остались вопросы?
		.input_wrap
			.input_wrap_item
				input(placeholder="Имя").value_input.input_name3
			.input_wrap_item
				input(placeholder="Номер").value_input.input_number3
			.btn.send1(onclick="send3()") Заказать
		.consent Нажимая на кнопку, вы даете 
			a(href="consent.php") согласие на обработку персональных данных.


section.container.page2(style="display: none;")
	h2.text-center О нас
	p &nbsp;&nbsp;&nbsp;&nbsp;Applerepairss— это сервисный центр по ремонту техники Apple. Мы работаем с 2014 года. Мы были одними из первых, кто осуществляет ремонт на выезде. <br><br>&nbsp;&nbsp;&nbsp;&nbsp;На сегодняшний день мы являемся лидерами на рынке и популярности.

section.container.contact_page.page3(style="display: none;")
	h2.text-center Контакты
	.cart_wrap
		.cart
			.icon.text-center <?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 35 35" style="enable-background:new 0 0 35 35;" xml:space="preserve"><g><path d="M25.302,0H9.698c-1.3,0-2.364,1.063-2.364,2.364v30.271C7.334,33.936,8.398,35,9.698,35h15.604c1.3,0,2.364-1.062,2.364-2.364V2.364C27.666,1.063,26.602,0,25.302,0z M15.004,1.704h4.992c0.158,0,0.286,0.128,0.286,0.287c0,0.158-0.128,0.286-0.286,0.286h-4.992c-0.158,0-0.286-0.128-0.286-0.286C14.718,1.832,14.846,1.704,15.004,1.704z M17.5,33.818c-0.653,0-1.182-0.529-1.182-1.183s0.529-1.182,1.182-1.182s1.182,0.528,1.182,1.182S18.153,33.818,17.5,33.818z M26.021,30.625H8.979V3.749h17.042V30.625z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
			p.text-center 097 123 45 67
		.cart
			.icon.text-center <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m505.41 494.899-32.567-99.067c-.072-.266-.157-.527-.257-.781l-12.792-38.914c-.085-.323-.185-.639-.31-.943l-13.32-40.521c-3.511-10.858-10.527-12.479-14.397-12.479h-55.994c12.407-18.926 23.347-38.876 31.022-60.612 11.152-31.547 15.382-64.383 12.233-94.958-3.092-30.013-13.265-58.009-29.419-80.961-29.628-42.095-77.067-65.414-133.645-65.663-31.175.145-59.42 7.171-83.949 20.886-23.366 13.064-42.24 31.499-56.097 54.792-2.118 3.56-.949 8.163 2.611 10.28s8.162.948 10.28-2.611c26.065-43.815 71.247-68.088 127.156-68.347 51.518.227 94.624 21.286 121.377 59.297 30.295 43.042 36.018 103.709 15.31 162.289-14.209 40.238-40.934 74.956-66.779 108.531-2.049 2.662-4.128 5.365-6.21 8.081-.043.052-.081.107-.123.16-2.97 3.874-5.948 7.779-8.87 11.668-2.355 2.729-4.729 5.487-7.117 8.262-5.552 6.451-11.187 12.993-16.854 19.48-.063.072-.129.142-.19.217-7.561 8.653-15.18 17.206-22.751 25.291l-.085.091c-2.943 3.145-5.969 6.379-7.673 7.733-1.704-1.354-4.73-4.588-7.673-7.733l-.083-.088c-13.424-14.361-27.036-30.17-40.199-45.459-2.253-2.617-4.493-5.218-6.716-7.794-5.012-6.669-10.192-13.399-15.204-19.909-9.968-12.949-20.064-26.07-29.525-39.611-.003-.004-.006-.008-.009-.013-15.066-21.564-28.518-44.194-37.245-68.909-14.378-40.7-16.34-81.572-5.674-118.198 1.158-3.977-1.126-8.14-5.104-9.298-3.977-1.16-8.14 1.127-9.298 5.104-11.55 39.659-9.499 83.709 5.931 127.387 7.676 21.737 18.616 41.689 31.023 60.615h-55.966c-4.697 0-11.009 2.157-14.414 12.445l-27.573 83.877c-.013.036-.023.073-.036.11l-31.643 96.259c-1.199 3.621-.554 7.542 1.77 10.758 2.79 3.862 7.751 6.357 12.64 6.357h234.998c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-64.056l-80.366-91.9 104.635.051c6.998 7.977 14.046 15.854 21.075 23.374l.085.091c7.792 8.327 12.085 12.915 18.625 12.915 6.54 0 10.834-4.588 18.626-12.915l.083-.089c7.023-7.5 14.057-15.359 21.035-23.315l164.421.082 30.148 91.706h-199.382c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h200.095c4.874 0 9.826-2.502 12.618-6.376 2.322-3.222 2.963-7.142 1.768-10.725zm-425.321-175.561c.372-1.123.695-1.78.91-2.144h65.475c8.013 11.3 16.396 22.291 24.743 33.145l-101.303-.046zm-31.77 96.645 70.869 81.017h-97.502zm53.381-25.887c-.004 0-.012 0-.018 0-4.624.004-8.386 2.232-10.067 5.959-1.663 3.688-.863 8.053 2.063 11.364l78.338 89.581h-32.9l-85.355-97.576 11.22-34.132 117.759.053c2.266 2.966 4.526 5.939 6.745 8.894.102.135.208.268.32.396 2.273 2.634 4.564 5.294 6.87 7.972 2.153 2.501 4.322 5.017 6.497 7.538zm329.318-72.901c.21.363.525 1.017.885 2.129l10.262 31.218-101.505-.046c8.386-10.904 16.812-21.946 24.863-33.301zm-122.252 73.023c2.06-2.389 4.115-4.775 6.156-7.146 2.439-2.835 4.864-5.651 7.269-8.438.111-.129.217-.261.319-.396 2.183-2.906 4.405-5.83 6.634-8.748l117.953.053 8.135 24.747z"/><path d="m363.403 166.527c0-59.207-48.182-107.375-107.405-107.375s-107.405 48.168-107.405 107.375 48.182 107.375 107.405 107.375 107.405-48.168 107.405-107.375zm-199.809 0c0-50.936 41.453-92.375 92.405-92.375s92.405 41.439 92.405 92.375-41.453 92.375-92.405 92.375-92.405-41.439-92.405-92.375z"/></svg>
			p.text-center Новые Черёмушки, Гарибальди 23
		.cart
			.icon.text-center <?xml version="1.0" encoding="iso-8859-1"?><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.974 511.974" style="enable-background:new 0 0 511.974 511.974;" xml:space="preserve"><g><g><g><path d="M511.872,195.725c-0.053-0.588-0.17-1.169-0.35-1.732c-0.117-0.503-0.28-0.994-0.486-1.468c-0.239-0.463-0.525-0.901-0.853-1.306c-0.329-0.481-0.71-0.924-1.135-1.323c-0.137-0.119-0.196-0.282-0.341-0.401l-82.065-63.735V59.704c0-14.138-11.462-25.6-25.6-25.6h-92.476L271.539,5.355c-9.147-7.134-21.974-7.134-31.121,0l-37.035,28.749h-92.476c-14.138,0-25.6,11.461-25.6,25.6v66.057L3.268,189.496c-0.145,0.12-0.205,0.282-0.341,0.401c-0.425,0.398-0.806,0.842-1.135,1.323c-0.328,0.405-0.614,0.842-0.853,1.306c-0.207,0.473-0.369,0.965-0.486,1.468c-0.178,0.555-0.295,1.127-0.35,1.707c0,0.179-0.102,0.333-0.102,0.512V486.37c0.012,5.428,1.768,10.708,5.009,15.061c0.051,0.077,0.06,0.171,0.119,0.239c0.06,0.068,0.188,0.145,0.273,0.239c4.794,6.308,12.25,10.027,20.173,10.061h460.8c7.954-0.024,15.441-3.761,20.241-10.103c0.068-0.085,0.171-0.111,0.23-0.196c0.06-0.085,0.068-0.162,0.12-0.239c3.241-4.354,4.997-9.634,5.009-15.061V196.237C511.974,196.058,511.881,195.904,511.872,195.725z M250.854,18.82c2.98-2.368,7.2-2.368,10.18,0l19.686,15.283h-49.493L250.854,18.82z M27.725,494.904l223.13-173.321c2.982-2.364,7.199-2.364,10.18,0l223.189,173.321H27.725z M494.908,481.6L271.539,308.117c-9.149-7.128-21.972-7.128-31.121,0L17.041,481.6V209.233L156.877,317.82c3.726,2.889,9.088,2.211,11.977-1.515c2.889-3.726,2.211-9.088-1.515-11.977L25.276,194.018l60.032-46.652v65.937c0,4.713,3.821,8.533,8.533,8.533c4.713,0,8.533-3.821,8.533-8.533v-153.6c0-4.713,3.82-8.533,8.533-8.533h290.133c4.713,0,8.533,3.82,8.533,8.533v153.6c0,4.713,3.82,8.533,8.533,8.533s8.533-3.821,8.533-8.533v-65.937l60.032,46.652l-142.31,110.507c-2.448,1.855-3.711,4.883-3.305,7.928s2.417,5.637,5.266,6.786c2.849,1.149,6.096,0.679,8.501-1.232l140.083-108.774V481.6z"/><path d="M358.374,204.77v-34.133c0-56.554-45.846-102.4-102.4-102.4c-56.554,0-102.4,45.846-102.4,102.4s45.846,102.4,102.4,102.4c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533c-47.128,0-85.333-38.205-85.333-85.333s38.205-85.333,85.333-85.333s85.333,38.205,85.333,85.333v34.133c0,9.426-7.641,17.067-17.067,17.067s-17.067-7.641-17.067-17.067v-34.133c0-4.713-3.82-8.533-8.533-8.533s-8.533,3.82-8.533,8.533c0,18.851-15.282,34.133-34.133,34.133c-18.851,0-34.133-15.282-34.133-34.133s15.282-34.133,34.133-34.133c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533c-22.915-0.051-43.074,15.13-49.354,37.168c-6.28,22.038,2.847,45.565,22.347,57.601c19.5,12.036,44.622,9.65,61.507-5.843c1.858,18.046,17.543,31.464,35.659,30.505C344.25,237.91,358.431,222.912,358.374,204.77z"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
			p.text-center info@Applerepairss.ru


section.container.page4(style="display: none;")
	h2.text-center Согласие на обработку персональных данных
	p &nbsp;&nbsp;&nbsp;&nbsp;В соответствии с условиями Закона “О защите персональных данных”, заполнив форму, каждый участник дает свое согласие на сбор, обработку, использование и передачу третьим лицам его персональных данных,а также изображений, фото-, аудио- и видеоматериалов, записанных во время мероприятия, для маркетинговых целей организаторов и/или третьих лиц. <br><br>&nbsp;&nbsp;&nbsp;&nbsp;В соответствии с требованиями Закона Украины “О защите персональных данных” (далее — Закон), подтверждаю свое согласие на обработку моих личных данных. <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Под обработкой моих персональных данных в соответствии с Законом “О защите персональных данных” подразумевается любое действие или совокупность действие, совершаемых полностью или частично в информационной автоматизированной системе и/или в картотеках персональных данных, которые связаны со сбором, регистрацией, накоплением, хранением, адаптированием, изменением, восстановлением, использованием и распространением, обезличиванием, уничтожением данных обо мне. <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Этим также подтверждаю и соглашаюсь с тем, что мне известно о внесении информации обо мне в базу персональных данных с целью обеспечения ее эффективной деятельности, о моих правах, определенных Законом, и о передаче моих данных кругу лиц, определенных Законом.

