header
	.container.justify-content-between
		.logo Applerepairss
		nav
			.nav_item Сервисный центр
			.nav_item О нас
			.nav_item Контакты
		a.tel(href="tel:+") 097 123 45 67
section.section-hero.container-fluid
	.blackout
		.container
			h1 Выездной ремонт техники Apple
			h3 Починим ваш аппарат за 19 минут у вас на глазах<br> и дадим гарантию 189 дней
			.btn Заказать
section.container
	h2.text-center Узнать стоимость ремонта
	p.text-center Выберите модель, чтобы ознакомиться с ценами.
	.row
		.col-6.col-sm-4.col-md-3.a
		.col-6.col-sm-4.col-md-3.a
		.col-6.col-sm-4.col-md-3.a
		.col-6.col-sm-4.col-md-3.a
		.col-6.col-sm-4.col-md-3.a
		.col-6.col-sm-4.col-md-3.a




